@model LoginDTO
@{
    ViewData["title"] = "Login";
}
<h1>Login</h1>
@if(@ViewData["mensaje"]!=null){
    <p class="text-danger">
        @ViewData["mensaje"]
    </p>
}
<div class="card">
    <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" autocomplete="off" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" autocomplete="off" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input asp-for="Recuerdame" class="form-check-inline" />
                <label asp-for="Recuerdame" class="form-label"></label>
                
            </div>
            <div>
                <button class="btn btn-primary">Login</button>
                <a class="btn btn-success" asp-action="registro">Deseo registrarme</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}