<div class="modal fade" id="modal-editar-tarea" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-editar-tarea-titulo" data-bind="text:titulo">
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="txtTituloCrearTarea" placeholder="titulo" data-bind="value:titulo" />
                            <label for="txtTituloCrearTarea">Titulo de la tarea</label>
                        </div>
                        <div class="mb-3">
                            <label>Descripcion</label>
                            <textarea type="text" class="form-control" rows="4" data-bind="value:descripcion">

                        </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="manejarCambioTarea()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">Borrar</button>
            </div>
        </div>
    </div>
</div>
